.description_equipement {
    display: flex;
    gap: 200px;
    margin-top: 10px;
}

@media (max-width: 768px) {
      
    .description_equipement {
        gap: 0;
        flex-direction: column;
    }
}