.appartements_description {
    margin-bottom: 30px;
    h4 {
        color: white;
        border-radius: 5px;
        margin: 0;
    }
    p {
        background-color: #F6F6F6;
        border-radius: 5px;
        margin: 0;
        padding: 20px;
    }
    ul {
        background-color: #F6F6F6;
        border-radius: 5px;
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    li {
        font-weight: 400;
        font-size: 16px;
    }
}

.appartements_description_header {
    margin-top: 20px;
    background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px 15px;
    min-width: 552px;
    i {
        color: white;
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .appartements_description_header {
        min-width: 0;
    }
}